body{
    margin:0;
    transition: all ease .75s;
position: relative;
}
div.head{
    background-color: rgb( 48, 51, 107); 
   padding: 10px;
   font-family: "lato";
   display: swap;
    
}
.toggles{
    transform: translate(200px,0);

}
 div.head #toggle{
    border-radius: 5px;
    height: 36px;
    background-color:rgb(190, 46, 221);
    color: rgb(255, 255, 255);
} 
div.head h1,p#head{
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: block;
}
.container{
     width: 33%;
     margin:auto;     
}
.aligner{
    text-align:center;
}
ul{
    margin:0;
    padding: 0;
}
nav{
    width: 200px;
    background-color: rgb(48, 51, 107);
    height: 100vh;
    position: absolute;
    z-index: 999;
    text-align: center;
    transform: translateX(-100%);
}

#signup{
    border: 1px solid rgb(190, 46, 221);
    border-radius: 10px;
    background-color:rgb(190, 46, 221);
    color: rgb(255, 255, 255);
   height: 35px;
   width: 99px;
   margin:10px;
}
div#logo ul{
    padding :10px;
}
div.logo img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    margin-right: -30px;
    margin-bottom: 25px;
    margin-top: 85px;
}
ul li{
   margin-right: 50px;
    padding: 20px;
    border-bottom: 1px solid rgb(202, 29, 29);
    border-bottom-right-radius: 100px;
}
ul li a {
    color: white;
}
